{{ banner as="images" }}
    {{ if count > 1 }}
        true
    {{ else }}
        {{ images }}
            <div class="w-full h-[50vh] bg-center bg-no-repeat bg-cover inner-shadow flex flex-wrap" style="background-image: url('{{ config:app:url }}{{ url }}'); {{ if go_over }} margin-bottom: -7rem; {{ /if }}">
                <div class="container w-full flex-grow flex pt-20 justify-center">
                    <h2 class="text-white">{{ banner_title }}</h2>
                </div>
            </div>
        {{ /images }}
    {{ /if }}

{{ /banner }}
