{{# Categories #}}
<div class="container mt-16 mb-8">
    <h1>Category</h1>

    <div class="flex flex-wrap gap-4">
        {{ taxonomy:category title:contains="{{ get:q }}" }}
            {{ if count > 0 }}
                {{ partial:components.cards.cat }}
            {{ else }}
                <p>No reults for {{ get:q }}</p>
            {{ /if }}
        {{ /taxonomy:category }}
    </div>
</div>

{{# Instructions #}}
<div class="container mt-16 mb-8">
    <h1>Instructions</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ search:results index="instructions" }}
            {{ if no_results }}
                <h2>No results found for {{ get:q }}.</h2>
            {{ else }}
                {{ partial:components.cards.instruction }}
            {{ /if }}
        {{ /search:results }}
    </div>
</div>
