{{ if get:q }}

    {{ partial:components.searchresults }}

{{ else }}

{{# zoek balk #}}
<div class="w-full h-[60vh] bg-red-asw text-white py-6 flex bg-top bg-cover inner-shadow" style="background-image: url('assets/site/aswatson.jpg')">
    <div class="container flex flex-grow flex-col justify-around">
        <h1 class="mx-auto w-fit">Need Help?</h1>

        <form action="/" class="relative max-w-screen-md w-full mx-auto">
            <vue-input type="text" name="q" placeholder="search..."></vue-input>
            <button type="submit" class="absolute top-5 right-5 text-gray-900 hover:text-red-asw">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</div>


{{# Categories #}}
<div class="container mt-16 mb-8">
    <h1>Category</h1>

    <div class="flex flex-wrap gap-4">
        {{ taxonomy:category }}
            {{ partial:components.cards.cat }}
        {{ /taxonomy:category }}
    </div>
</div>

{{# Instructions #}}
<div class="container mt-16 mb-8">
    <h1>Instructions</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {{ collection:instructions }}
            {{ partial:components.cards.instruction }}
        {{ /collection:instructions }}
    </div>
</div>

{{ /if }}
