{{ taxonomy:sites }}
    <a href="{{ url }}">
        <div class="group relative flex flex-row items-center">
            <div class="h-12 w-12 flex flex-wrap justify-center items-center bg-red-asw rounded-2xl p-2 md:h-14 md:w-14 transition-all duration-200 hover:rounded-3xl">
                {{ svg src="{{ icon }}" class="fill-current h-full w-full text-white" }}
            </div>

            <div class="hidden group-hover:flex w-fit fixed left-20 bg-red-asw whitespace-nowrap text-lg text-white font-semibold rounded shadow py-1 px-3">
                {{ title }}
            </div>
        </div>
    </a>
{{ /taxonomy:sites }}